<!-- <div class="container"> 
  <div class="footer">
  <small>
    <a href="#">Rails Tutorial</a>by Michael Hartl
  </small>
  <nav>
    <ul class="nav navbar-nav">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</div>
</div> -->

<div class="footer">
  <div class="container">
    <!-- <a href="#" class="text-muted" >Rails Tutorial</a>by Michael Hartl -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="#">News</a></li>
      </ul>
    </nav>
  </div>
</div>